<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>List of curve points</title>
    <link rel="stylesheet" th:href="@{../../css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div th:insert="fragments/header :: header"></div>
    <div class="row"><h2>Curve Point List</h2></div>
    <div th:insert="fragments/alert :: alert"></div>
    <div class="row">
        <a href="/curvePoint/add" class="btn btn-primary btn-sm">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>CurvePointId</th>
                <th>Term</th>
                <th>Value</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <!-- Show all CurvePoint to the table, the action column will have Edit & Delete buttons -->
            <tr th:each="curvePoint : ${curvePoints}">
                <td th:text="${curvePoint.id}">45</td>
                <td th:text="${curvePoint.curveId}">12</td>
                <td th:text="${curvePoint.term}">14.0</td>
                <td th:text="${curvePoint.Value}">10.0</td>
                <td class="text-center"><a th:href="@{/curvePoint/update/{id}(id=${curvePoint.id})}">Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/curvePoint/delete/{id}(id=${curvePoint.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>