<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Rating list</title>
    <link rel="stylesheet" th:href="@{../../css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div th:insert="fragments/header :: header"></div>
        <div class="row"><h2>Rating List</h2></div>
        <div th:insert="fragments/alert :: alert"></div>
        <div class="row">
            <a href="/rating/add" class="btn btn-primary btn-sm">Add New</a>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>MoodysRating</th>
                    <th>SandPRating</th>
                    <th>FitchRating</th>
                    <th>Order</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <!-- Show all Rating to the table, the Action column will have Edit & Delete buttons -->
                <tr th:each="rating : ${ratings}">
                    <td th:text="${rating.id}">44</td>
                    <td th:text="${rating.moodysRating}">Moody's rating</td>
                    <td th:text="${rating.sandPRating}">S and P rating</td>
                    <td th:text="${rating.fitchRating}">Fitch rating</td>
                    <td th:text="${rating.orderNumber}">Order number</td>
                    <td class="text-center"><a th:href="@{/rating/update/{id}(id=${rating.id})}">Edit</a>&nbsp;|&nbsp;
                        <a th:href="@{/rating/delete/{id}(id=${rating.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
</div>
</body>
</html>