<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Update Bid</title>
    <link rel="stylesheet" th:href="@{../../css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <h2>Update Bid</h2>
    </div>

    <div class="row">
        <form action="#" th:action="@{/bidList/update/{id}(id=${bidList.bidListId})}" th:object="${bidList}" method="post" class="form-horizontal" style="width: 100%">
            <!--
            form to edit the values of Bid, there are 2 buttons: Update data and Cancel to the list Bid
             -->
            <!--account-->
            <div class="form-group">
                <label for="account">Account</label>
                <input type="text" th:value="${account}" class="form-control" id="account"
                       placeholder="Account" required name="account">
            </div>
            <!--type-->
            <div class="form-group">
                <label for="type">Type</label>
                <input type="text" th:value="${type}" class="form-control" id="type"
                       placeholder="Type" required name="type">
            </div>
            <!--Bid quantity-->
            <div class="form-group">
                <label for="bidQuantity">Bid quantity</label>
                <input type="number" th:value="${bidQuantity}" class="form-control" id="bidQuantity"
                       placeholder="Bid quantity" required name="bidQuantity">
            </div>
            <!--cancel and add bidList buttons-->
            <div class="row justify-content-center align-items-center mx-auto m-2">
                <a type="button" class="btn btn-danger text-white col-3 m-4 " th:href="@{/bidList/list}">
                    Cancel
                </a>
                <button type="submit" class="btn btn-primary col-3 m-4">
                    Update BidList
                </button>
            </div>
        </form>
    </div>

</div>
</body>
</html>