<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Trade list</title>
    <link rel="stylesheet" th:href="@{../../css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div th:insert="fragments/header :: header"></div>
    <div class="row"><h2>Trade List</h2></div>
    <div th:insert="fragments/alert :: alert"></div>
    <div class="row">
        <a href="/trade/add" class="btn btn-primary btn-sm">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Account</th>
                <th>Type</th>
                <th>Buy Quantity</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <!-- Show all Trade to the table, the Action column will have Edit & Delete buttons -->
            <tr th:each="trade : ${trades}">
                <td th:text="${trade.tradeId}">ID</td>
                <td th:text="${trade.account}">Account</td>
                <td th:text="${trade.type}">Type</td>
                <td th:text="${trade.buyQuantity}">10.0</td>
                <td class="text-center"><a th:href="@{/trade/update/{id}(id=${trade.tradeId})}">Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/trade/delete/{id}(id=${trade.tradeId})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>