<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Rule list</title>
    <link rel="stylesheet" th:href="@{../../css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div th:insert="fragments/header :: header"></div>
    <div class="row"><h2>Rule List</h2></div>
    <div th:insert="fragments/alert :: alert"></div>
    <div class="row">
        <a href="/ruleName/add" class="btn btn-primary btn-sm">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>json</th>
                <th>template</th>
                <th>sql</th>
                <th>sqlPart</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <!-- Show all RuleName to the table, the Action column will have Edit & Delete buttons -->
            <tr th:each="ruleName : ${rules}">
                <td th:text="${ruleName.id}">1</td>
                <td th:text="${ruleName.name}">Name</td>
                <td th:text="${ruleName.description}">Description</td>
                <td th:text="${ruleName.json}">json</td>
                <td th:text="${ruleName.template}">template</td>
                <td th:text="${ruleName.sqlStr}">sqlStr</td>
                <td th:text="${ruleName.sqlPart}">sqlPart</td>
                <td class="text-center"><a th:href="@{/ruleName/update/{id}(id=${ruleName.id})}">Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/ruleName/delete/{id}(id=${ruleName.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>